---
layout: splash

gallery:
  - url: assets/images/TEST.png 
    image_path: assets/images/TEST.png 
    alt: "salamander image"
    title: "Image 1 title caption"

feature_row:
  - image_path: assets/images/TEST.png 
    alt: "Resources"
    title: "Eva C. Herbst"
    excerpt: 'I am a postdoctoral fellow in **clinical biomechanics of the shoulder**, working with Prof. Stephen Ferguson at ETH and Prof. Dr. Philipp Moroder at the Schulthess Clinic. I combine multi body dynamics and finite element modeling for implant development and biomechanical analysis of patients. 
    I built this website to share my work and resources such as code and workflows.'
    url: "/Resources/"  
    btn_label: "View Resources" 
    btn_class: "btn--primary" 




---


<!-- {% include gallery %} -->


<!-- {% include feature_row %} -->

{% include feature_row id="feature_row" type="left" %} 

