---
layout: splash

gallery:
  - url: assets/images/Finite_element_shoulder.png 
    image_path: assets/images/Finite_element_shoulder.png 
    alt: "shoulder finite element model"
    title: "Shoulder finite element model"

feature_row:
  - image_path: assets/images/Finite_element_shoulder.png  
    alt: "Feature Row"
    title: "Dr. Eva C. Herbst"
    excerpt: 'I am a postdoctoral fellow in **clinical biomechanics of the shoulder**, working with (Prof. Dr. Stephen Ferguson)[https://orthotech.ethz.ch/the-group/people/person-detail.MTc5Njgw.TGlzdC8xMzcwLDE3NTMxODM4ODU=.html] at ETH and Prof. (Prof. Dr. med. Philipp Moroder)[https://www.schulthess-klinik.ch/en/specialist/prof-dr-med-univ-philipp-moroder] at the Schulthess Clinic. I combine multi body dynamics and finite element modeling for implant development and biomechanical analysis of patients. 
    I built this website to share my work and resources such as code and workflows.'
    url: "/Resources/"  
    btn_label: "View Resources" 
    btn_class: "btn--primary" 




---


<!-- {% include gallery %} -->


<!-- {% include feature_row %} -->

{% include feature_row id="feature_row" type="left" %} 

